#################################REQUISITOS###################################
Usar python 3.10 
pip install pymongo
pip install SpeechRecognition
pip install pyAudio 
pip install -U langchain-openai
pip install Wikipedia 
pip install numexpr  
pip install langchain faiss-cpu openai tiktoken InstructorEmbedding sentence-transformers streamlit python-dotenv pandas trafilatura
pip install huggingface-hub
pip install spacy
python -m spacy download es_core_news_sm
pip install --upgrade pip 
pip install -U langchain-openai

