brotli==1.1.0
ConfigParser==7.0.0
cryptography==42.0.7
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
Flask==3.0.3
Flask_Cors==4.0.0
Flask_JWT_Extended==4.6.0
gTTS==2.5.1
HTMLParser==0.0.2
importlib_metadata==6.11.0
importlib_metadata==7.0.1
keyring==25.2.0
langchain==0.1.20
langchain_community==0.0.38
langchain_openai==0.1.6
lockfile==0.12.2
lxml==5.1.0
numpy==1.26.4
ordereddict==1.1
pandas==2.2.2
protobuf==5.26.1
PyAudio==0.2.14
pygame==2.5.2
pymongo==4.6.1
pymongo==4.6.2
pymsteams==0.2.2
pyOpenSSL==24.1.0
pywin32==306
SpeechRecognition==3.10.1
SpeechRecognition==3.8.1
streamlit==1.30.0
streamlit==1.31.1
thread==2.0.1
toml==0.10.2
tornado==6.4
tqdm==4.66.1
tqdm==4.66.2
trafilatura==1.7.0
Werkzeug==3.0.3
xmlrpclib==1.0.1
zipp==3.17.0
